# Ignore node_modules in both client and server and dist folder in client since it will be rebuilt upon deployment
client/node_modules/
server/node_modules/
client/dist/

# Ignore .env file
.env

#Ignore my notes txt file
notes.txt