.pageContainr{
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 5px;
    min-height: 100%;
    margin: 5px;
    }
    

.requestContainer{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 10px;
    border: 2px solid #0bbae6;
    width: 90%;

}

.requestItem{
    border: solid 1px #0bbae6;
    margin: 2vh;
}